* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	background-image: url(img/mexico.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 700px;
	top: 40%;
	left: 70%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 100px;
	width: auto;
}

.main-nav {
	float: right;
	list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: bold;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #4aa3df;
	}

h1 {
	margin: 0;
}