* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px red solid;*/
}

html {
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

.row h3 {
	margin-top: 30px;
}

section {
	background-color: #ecf0f1;
	padding: 80px 0;
}


h1,
h2,
h3 {
	font-weight: 300;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 200%;
	word-spacing: 4px;
	letter-spacing: 1px;
	/*font-weight: bold;*/
}

h2 {
  font-size: 130%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #4aa3df;
	content: " ";
	width: 150px;
	margin: 0 auto;
	margin-top: 30px;

}

h3 {
  font-size: 130%;
  text-align: center;
  margin-bottom: 15px;
}

.col {
	padding: 0 220px;
}

.col:after {
	display: block;
	height: 2px;
	background-color: #4aa3df;
	content: " ";
	width: 150px;
	margin: 0 auto;
	margin-top: 30px;

}

/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(9%,#ffffff));*/

header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7d7d+0,ffffff+9 */
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.1) 10%), url(img/mexico.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 45%;
	top: 40%;
	left: 75%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 100px;
	width: auto;
}

.main-nav {
	float: right;
	list-style: none;
}

.main-nav li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight: bold;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #4aa3df;
	}

p {
	line-height: 200%;
}

.projects {
	background-color: #fff;
}